.sign-message mat-form-field {
  width: 100%;
  min-height: 200px;
  margin-top: 16px;
}

.sign-message textarea {
  width: 100%;
  height: 100%;
}

.sign-message button {
  width: 100%;
}

.signature {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.display-selector {
  display: flex;
  justify-content: flex-end;
}
