<mat-drawer-container fullscreen>
  <header>
    <mat-toolbar>
      <span class="spacer"></span>
      @if (user == undefined) {
        <!-- Sign in with Google -->
        <div id="googleSignIn"></div> 

        <!-- Sign in with a passkey -->
        <button mat-button extended (click)="loginHandler()">
          <mat-icon fontSet="material-symbols-outlined">
            passkey
          </mat-icon>
          Passkey
        </button>
      } @else {
        <button mat-button extended [matMenuTriggerFor]="menu">
          <mat-icon>
            <img class="avatar-image" [src]="user.avatar">
          </mat-icon>
          {{ user.username }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="registerPasskey()">
            <mat-icon fontSet="material-symbols-outlined">
              passkey
            </mat-icon>
            Register Passkey
          </button>
        </mat-menu>
      }
    </mat-toolbar>
  </header>

  <mat-card class="wallet-card">
    <mat-card-header>
      <mat-card-title>Title</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Content
    </mat-card-content>
    <mat-card-actions>
      Actions
    </mat-card-actions>
  </mat-card>
</mat-drawer-container>

<div id="g_id_onload"></div>
