<mat-drawer-container fullscreen>
  <header>
    <mat-toolbar>
    @if (user == undefined) {
      <span class="spacer"></span>

      <!-- Sign in with Google -->
      <div id="googleSignIn" matTooltip="Sign in with Google"></div> 

      <!-- Sign in with a passkey -->
      <button mat-icon-button matTooltip="Sign in with a Passkey" 
              (click)="loginHandler()">
        <mat-icon fontSet="material-symbols-outlined">
          passkey
        </mat-icon>
      </button>
    } @else {
      <mat-button-toggle-group hideSingleSelectionIndicator value="cloud">
        <mat-button-toggle value="cloud">
          Cloud
        </mat-button-toggle>
        <mat-button-toggle value="edge" disabled>
          Edge
        </mat-button-toggle>
      </mat-button-toggle-group>

      <span class="spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>
          <img class="avatar-image" [src]="user.avatar">
        </mat-icon>
        {{ user.username }}
      </button>
      <mat-menu #menu="matMenu" yPosition="below">
        <button mat-menu-item disabled>
          <mat-icon>
            person
          </mat-icon>
          Profile
        </button>
        <button mat-menu-item disabled>
          <mat-icon>
            logout
          </mat-icon>
          Logout
        </button>
        <button mat-menu-item (click)="registerPasskey()">
          <mat-icon fontSet="material-symbols-outlined">
            passkey
          </mat-icon>
          Register Passkey
        </button>
      </mat-menu>
    }
    </mat-toolbar>
  </header>

  <mat-card class="wallet-card">
    <mat-card-header>
    @if (account | async; as a) {
      <mat-card-title [matTooltip]="a">
        {{ (a | slice: 0:6) + '...' + (a | slice: -6) }}
      </mat-card-title>

      <!-- <button mat-icon-button [matTooltip]="a"
              (click)="copyAccount(a)">
        <mat-icon>content_copy</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Browse"
              (click)="browseAccount(a, network)">
        <mat-icon>open_in_new</mat-icon>
      </button> -->
    }

      <mat-card-subtitle>{{ balance | async | currency: '◎' }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <app-token-transfer></app-token-transfer>
    </mat-card-content>
  </mat-card>
</mat-drawer-container>

@if (lastSigninMethod != 'passkeys') {
  <div id="g_id_onload"></div>
}
